
@font-face{font-family:'Roboto-Medium';
src:url('../fonts/Roboto-Medium.eot?v=4.4.0');
src:url('../fonts/Roboto-Medium.eot?#iefix&v=4.4.0') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.woff2?v=4.4.0') format('woff2'),
	url('../fonts/Roboto-Medium.woff?v=4.4.0') format('woff'),
	url('../fonts/Roboto-Medium.ttf?v=4.4.0') format('truetype'),
	url('../fonts/Roboto-Medium.svg?v=4.4.0#fontawesomeregular') format('svg');
}
